<div class="deals-filter">
  <div class="container">
    <div class="deals-filter__top" (click)="toggleFilter()">
      <h1 class="u-padding-top-medium u-padding-bottom-small">Deals Filter</h1>
      <div class="deals-filter__arrow">
        <svg class="icon-sized icon-secondary" *ngIf="!toggleOpen">
          <use href="/assets/icons/Arrow_Down.svg#Layer_1"></use>
        </svg>
        <svg class="icon-sized icon-secondary" *ngIf="toggleOpen">
          <use href="/assets/icons/Arrow_Up.svg#Layer_1"></use>
        </svg>
      </div>
    </div>
    <div class="deals-filter__bottom" id="deals-filter__bottom">
      <button class="btn-select">Apparel</button>
      <button class="btn-select">CBD</button>
      <button class="btn-select">Concentrates</button>
      <button class="btn-select">Construction</button>
      <button class="btn-select">Cultivation and Operation</button>
      <button class="btn-select">Equipment</button>
      <button class="btn-select">Events</button>
      <button class="btn-select">Flowers & Seeds</button>
      <button class="btn-select">Home Appliances</button>
      <button class="btn-select">Apparel</button>
      <button class="btn-select">Apparel</button>
      <button class="btn-select">Apparel</button>
      <button class="btn-select">Apparel</button>
      <button class="btn-select">Apparel</button>
      <button class="btn-select">Apparel</button>
      <button class="btn-select">Apparel</button>
      <button class="btn-select">Apparel</button>
    </div>
  </div>
</div>
