<div class="image-overlay" *ngIf="showOverlay">
  <div class="image-overlay__backdrop" (click)="closeImageOverlay()"></div>
  <div class="image-overlay__picture">
    <img [src]="image" alt="image" class="image-overlay__image">
    <div class="image-overlay__close" (click)="closeImageOverlay()">
      <div class="x--icon">
        <svg class="icon-primary" width="100%" height="100%">
          <use href="/assets/icons/Close.svg#Layer_1"></use>
        </svg>
      </div>
    </div>
    <div class="image-overlay__arrow-left" (click)="previousImage()">
      <div class="arrow--icon">
        <svg class="icon-primary" width="100%" height="100%">
          <use href="/assets/icons/Slider_arrow_left.svg#Layer_1"></use>
        </svg>
      </div>
    </div>
    <div class="image-overlay__arrow-right" (click)="nextImage()">
      <div class="arrow--icon">
        <svg class="icon-primary" width="100%" height="100%">
          <use href="/assets/icons/Slider_arrow_right.svg#Layer_1"></use>
        </svg>
      </div>
    </div>
  </div>
</div>
