button {
  color: $color-white;
  padding: 1.9rem 2.5rem;
  font-size: 1.8rem;
  background-color: $color-primary;
  border-radius: 1rem;
  @include box-shadow;
  font-family: 'Segoe UI';
  border: none;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}
