.insights-card {
  box-shadow: 0 0.3rem 1rem rgba($color-black, 0.2);
  background-color: $color-white;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @include respond(sm) {
    flex-wrap: nowrap;
    padding: 2rem 1rem;
    box-shadow: none;
    border-bottom: 1px solid rgba($color-secondary, 0.5);
    border-radius: 0;
  }

  &__top-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 1 85%;

    @include respond(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__bottom-part {
    height: 0;
    flex-basis: 100%;
    margin-left: auto;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    @include respond(sm) {
      flex-basis: 0;
    }
  }

  &__count {
    border-right: 1px solid $color-secondary;
    padding: 0 2rem;
    text-align: center;

    @include respond(sm) {
      display: flex;
      flex-direction: column;
      border-right: none;
      width: 100%;
      order: 2;
    }

    &:first-of-type {
      border-left: 1px solid $color-secondary;
    }
  }

  &__number {
    @include respond(sm) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__line {
    display: none;
    position: relative;

    @include respond(sm) {
      display: block;
      background-color: $color-white-dark;
      height: 2px;
    }
  }

  &__line::before {
    content: "";
    position: absolute;
    height: 2px;
    background-color: red;
    left: 0;
    width: 50px;
  }

  &__image-box {
    flex: 0 1 15%;
    // !for testing
    height: 8rem;
    background-color: $color-primary-light;
    position: relative;

    @include respond(sm) {
      flex: 0 1 40%;
      width: 8rem;
      height: 8rem;
    }
  }

  &__like-box {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    color: $color-primary;

    p {
      display: inline;
      margin-left: 0.5rem;
    }
  }

  &__star-container {
    width: 3rem;
    height: 3rem;
  }

  &__info {
    padding-left: 2rem;

    @include respond(sm) {
      display: flex;
      flex-direction: column;
      order: 0;
    }

    p {
      font-size: 1.1rem;
    }

    h2 {
      font-size: 2rem;
      line-height: 0.8;

      @include respond(sm) {
        font-size: 1.6rem;
        order: -1;
      }
    }
  }

  &__rating {
    padding: 1rem 3rem;
    display: flex;
    align-items: center;

    @include respond(sm) {
      padding: 0 2rem;
      order: 1;
    }

    p {
      font-size: 2rem;
    }
  }

  &__buttons {
    margin-left: auto;
    margin-right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(sm) {
      display: none;
    }
  }

  &__round-buttons {
    display: flex;
  }
}

.btn-round {
  border-radius: 50%;
  background-color: $color-primary;
  width: 4rem;
  height: 4rem;
  margin-left: 2rem;
  position: relative;
  transition: all 0.2s;

  &:hover {
    background-color: $color-secondary;
    transform: scale(1.03);
  }
}

.visible {
  height: 6rem;
  visibility: visible;
  opacity: 1;
}
