.card {
  background-color: $color-white;
  @include box-shadow;
  margin-bottom: 2rem;

  .top {
    padding: 5.4rem;
    border-bottom: 1px solid $color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
  }

  .bottom {
    padding: 5.4rem;

    .content {
      p {
        font-size: 3rem;

        &.green {
          color: green;
        }

        &.red {
          color: red;
        }
      }

      table {
        th {
          font-weight: 700;
        }

        td {
          font-weight: 300;
        }
      }

      table > * {
        font-size: 3.8rem;
      }
    }
  }
}
