.product-card {
  box-shadow: 0 0.3rem 1rem rgba($color-black, 0.2);
  background-color: $color-white;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__top-part {
    display: flex;
    align-items: center;
    flex: 0 1 85%;
  }

  &__bottom-part {
    height: 0;
    flex-basis: 100%;
    margin-left: auto;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
  }

  &__arrow {
    padding-left: 2rem;
  }

  &__image-box {
    flex: 0 1 15%;
    // !for testing
    height: 8rem;
    background-color: $color-primary-light;

    position: relative;
  }

  &__like-box {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    color: $color-primary;
    height: 3rem;
    width: 3rem;

    p {
      display: inline;
      margin-left: 0.5rem;
    }
  }

  &__info {
    padding: 1rem 3rem;

    p {
      font-size: 1.1rem;
    }

    h2 {
      font-size: 2rem;
      line-height: 0.8;
    }
  }

  &__price {
    padding: 1rem 3rem;
    margin-left: auto;
    border-right: 1px solid;

    h2 {
      font-size: 2rem;
      line-height: 0.8;
      color: $color-notification;
    }
  }

  &__star-container {
    width: 3rem;
    height: 3rem;
  }

  &__rating {
    padding: 1rem 3rem;
    display: flex;
    align-items: center;

    p {
      font-size: 2rem;
    }
  }

  &__buttons {
    margin-left: auto;
    margin-right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__round-buttons {
    display: flex;
  }

  // OPENED PART OF CARD
  &__opened {
    display: flex;
    justify-content: space-between;

    &--text {
      flex-basis: 50%;
    }

    &--quantity {
      flex-basis: 40%;
      display: flex;
      flex-wrap: wrap;
    }
  }

}

.btn-round {
  border-radius: 50%;
  background-color: $color-primary;
  width: 4rem;
  height: 4rem;
  margin-left: 2rem;
  position: relative;
  transition: all .2s;

  &:hover {
    background-color: $color-secondary;
    transform: scale(1.03);
  }
}

.visible {
  height: auto;
  visibility: visible;
  opacity: 1;
}
