.form {
  &__group {
    position: relative;
  }

  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  // INPUT FIELD styles
  &__input {
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: $color-white;
    border-bottom: 2px solid transparent;
    border: 1px solid rgba($color-secondary, 0.4);
    width: 100%;
    display: block;

    // @include respond(tab-port) {
    //     width: 100%;
    // }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 1px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 1px solid $color-notification;
    }

    &::-webkit-input-placeholder {
      color: rgba($color-secondary, 0.6);
    }
  }

  &__label {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 0.7rem;
    text-transform: capitalize;
    display: inline-block;
    transition: all 0.3s;
    transform: translateY(0);
    opacity: 1;
  }

  &__error-feedback {
    color: $color-error;
    position: absolute;
    font-size: 1.3rem;
  }

  // TOOLTIP styles

  &__tooltip {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    background-color: $color-primary;
    border-radius: 50%;
    position: absolute;
    right: 1.5rem;
    top: 50%;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: $color-secondary;
    }

    &--center {
      @include center-absolute;
    }

    &--text {
      background-color: $color-white-dark;
      position: absolute;
      bottom: 4rem;
      min-width: 40rem;
      padding: 1rem 1.5rem;
      text-align: center;
      border-radius: 3px;
      right: -1.5rem;
      font-size: 1.4rem;
      z-index: 1000;

      &::after {
        content: "";
        position: absolute;
        bottom: -1.5rem;
        width: 4rem;
        right: 1rem;
        height: 2rem;
        background-color: #f1f1f1;
        clip-path: polygon(0 0, 100% 0, 50% 80%);
      }
    }
  }

  // RADIO BUTTON styles

  &__radio-group {
    width: 49%;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 3rem;
    text-transform: capitalize;
  }

  &__radio-button {
    height: 2rem;
    width: 2rem;
    border: 1px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0.3rem;

    &::after {
      content: "";
      display: block;
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary;
      opacity: 0;
      transition: all 0.2s;
    }
  }

  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    opacity: 1;
  }

  // RADIO BUTTON type2
  &__radio-input-type2 {
    visibility: hidden;
  }

  &__radio-input-type2:checked + &__radio-label-type2 {
    background-color: $color-primary;

    &::before {
      transform: translateX(3rem);
      background-color: #fff;
    }
  }

  &__radio-label-type2 {
    display: flex;
    width: 6rem;
    height: 3rem;
    border: 2px solid $color-primary;
    border-radius: 99em;
    position: relative;
    transition: all 0.4s ease-in-out;
    transform-origin: 50% 50%;
    cursor: pointer;

    &::before {
      transition: all 0.4s ease;
      content: "";
      display: block;
      position: absolute;
      width: 1.8rem;
      height: 1.8rem;
      background-color: $color-primary;
      border-radius: 50%;
      top: 0.3rem;
      left: 0.3rem;
    }
  }
}

// DROPDOWN

.form-select {
  font-size: 1.5rem;
  padding: 1.4rem 2rem;
  color: inherit;
  border: 1px solid rgba($color-secondary, 0.4);
}
