.image-overlay {

  &__backdrop {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 995;
    background: rgba($color-black, 0.85);
    cursor: pointer;
  }

  &__picture {
    position: absolute;
    @include center-absolute;
    width: 50rem;
    height: 50rem;
    background-color: white;
    z-index: 996;
    cursor: initial;
  }

  &__image {
    height: 100%;
    width: 100%;
  }

  &__close {
    position: absolute;
    top: -9rem;
    color: red;
    font-size: 3rem;
    right: -7rem;
    cursor: pointer;
  }

  &__arrow-left {
    position: absolute;
    top: 50%;
    left: -15rem;
    transform: translateY(-50%);
    z-index: 996;
    cursor: pointer;
  }

  &__arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -15rem;
    z-index: 996;
    cursor: pointer;
  }
}

.x--icon {
  width: 2rem;
  height: 2rem;
}

.arrow--icon {
  width: 15rem;
  height: 15rem;
}
