.search-bar-sm {
  display: none;
  position: relative;

  @include respond(sm) {
    display: block;
  }

  .icon-class {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
  }

  &__bottom {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: $color-primary;
    width: 97vw;
    right: 0;
    top: 2.5rem;
    transition: all 0.3s;
    padding: 3rem 2rem;
    box-shadow: 0 2rem 2rem rgba($color-black, 0.2);
    z-index: 1000;
  }

  &__bottom-show {
    opacity: 1;
    visibility: visible;
    height: auto;
  }

  &__input {
    margin-bottom: 2rem;
  }
}

.btn__group--box {
  @include respond(sm) {
    margin: 0;
  }
}
