// COLOR VARIABLES
$color-primary: #1C6ABC;
$color-secondary: #707070;
$color-tertiary: #00000029;

$color-background: #EAE7E7;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
