<div class="product-card" (click)="toggleDetails()">
  <div class="product-card__image-box">
    <div class="product-card__like-box">
      <svg class="icon-primary" width="90%" height="90%">
        <use href="/assets/icons/Heart_Favorite.svg#Layer_1"></use>
      </svg>
    </div>
  </div>
  <div class="product-card__top-part">
    <div class="product-card__arrow">
      <svg class="icon-sized icon-secondary" *ngIf="!toggleOpen">
        <use href="/assets/icons/Arrow_Down.svg#Layer_1"></use>
      </svg>
      <svg class="icon-sized icon-secondary" *ngIf="toggleOpen">
        <use href="/assets/icons/Arrow_Up.svg#Layer_1"></use>
      </svg>
    </div>
    <div class="product-card__info">
      <p>9.69% THC</p>
      <h2>Blueberry Haze</h2>
    </div>
    <div class="product-card__price" *ngIf="!profileReviews">
      <h2>DEAL $189.00 / lb</h2>
    </div>
    <div class="product-card__rating">
      <div class="product-card__star-container">
        <svg class="icon-primary" width="100%" height="100%">
          <use href="/assets/icons/Star.svg#Layer_1"></use>
        </svg>
      </div>
      <div class="product-card__star-container">
        <svg class="icon-primary" width="100%" height="100%">
          <use href="/assets/icons/Star.svg#Layer_1"></use>
        </svg>
      </div>
      <div class="product-card__star-container">
        <svg class="icon-primary" width="100%" height="100%">
          <use href="/assets/icons/Star.svg#Layer_1"></use>
        </svg>
      </div>
      <div class="product-card__star-container">
        <svg class="icon-primary" width="100%" height="100%">
          <use href="/assets/icons/Star.svg#Layer_1"></use>
        </svg>
      </div>
      <div class="product-card__star-container">
        <svg class="icon-primary" width="100%" height="100%">
          <use href="/assets/icons/Star.svg#Layer_1"></use>
        </svg>
      </div>
      <p *ngIf="products || quoteRequests || profileReviews">(37)</p>
    </div>
    <div class="product-card__buttons">
      <button class="btn btn-text btn-text-bold" *ngIf="products || quoteRequests">REVIEWS</button>
      <button class="btn btn-text btn-text-bold" *ngIf="products">GET QUOTE</button>
      <button class="btn btn-text btn-text-bold" *ngIf="profileReviews">READ</button>
      <button class="btn btn-text btn-text-bold" *ngIf="profileReviews"> WRITE</button>
      <div *ngIf="reviews || productsProfile" class="product-card__round-buttons">
        <div class="btn-round">
          <svg class="icon-white" width="100%" height="100%">
            <use href="/assets/icons/Delete no circle.svg#Layer_1"></use>
          </svg>
        </div>
        <div class="btn-round">
          <svg class="icon-primary" width="100%" height="100%">
            <use href="/assets/icons/Edit.svg#Layer_1"></use>
          </svg>
        </div>
        <div class="btn-round">
          <svg class="icon-primary" width="100%" height="100%">
            <use href="/assets/icons/Hide.svg#Layer_1"></use>
          </svg>
        </div>
      </div>
      <div *ngIf="quoteRequests">
        <p>5/19/19</p>
      </div>
    </div>
  </div>
  <div class="product-card__bottom-part" [id]="['bottom-part-' + index]">
    <div class="product-card__opened">
      <div class="product-card__opened--text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error alias excepturi eos blanditiis fugiat
          nesciunt commodi nulla placeat temporibus, expedita aperiam quaerat perspiciatis doloremque quo ipsam voluptas
          nihil officia aut cum deleniti, aliquid accusantium. Excepturi fuga expedita accusamus! In, aspernatur
          voluptas quisquam deleniti necessitatibus dicta aliquid ut beatae molestias quibusdam.
        </p>
      </div>
      <div class="product-card__opened--quantity">
        <form class="form">
          <div class="form__with-x">
            <div class="form__group">
              <input type="text" class="form__input" id="quantity1" placeholder="Quantity">
              <div class="x--icon">
                <svg class="icon-primary" width="100%" height="100%">
                  <use href="/assets/icons/Close.svg#Layer_1"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="form__with-x">
            <div class="form__group">
              <input type="text" class="form__input" id="quantity1" placeholder="Quantity">
              <div class="x--icon">
                <svg class="icon-primary" width="100%" height="100%">
                  <use href="/assets/icons/Close.svg#Layer_1"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="form__with-x">
            <div class="form__group">
              <input type="text" class="form__input" id="quantity1" placeholder="Quantity">
              <div class="x--icon">
                <svg class="icon-primary" width="100%" height="100%">
                  <use href="/assets/icons/Close.svg#Layer_1"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="form__with-x">
            <div class="form__group">
              <input type="text" class="form__input" id="quantity1" placeholder="Quantity">
              <div class="x--icon">
                <svg class="icon-primary" width="100%" height="100%">
                  <use href="/assets/icons/Close.svg#Layer_1"></use>
                </svg>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
