<div class="footer">
  <div class="container">
    <nav class="footer__nav">
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link">{{ "footer.about_us" | translate}}</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" [routerLink]="['/information/contact-us']">{{ "footer.contact_us" | translate}}</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" [routerLink]="['/information/faqs']">{{ "footer.faqs" | translate}}</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" [routerLink]="['/information/tos']">{{ "footer.terms_of_service" | translate}}</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" [routerLink]="['/information/privacy-policy']">{{ "footer.privacy_policy" | translate}}</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" [routerLink]="['/investor-relations']">{{ "footer.investor_relations" | translate}}</a>
        </li>
      </ul>
      <div class="footer__news">
        <p>Get all the latest news and updates</p>
        <button class="btn btn-primary">JOIN OUR NEWSLETTER</button>
      </div>
      <div class="footer__social">
        <p>Follow LeafyLoop on Social Media</p>
        <div class="footer__social--icons-box">
          <div class="footer__social--icon-container">
            <svg class="icon-secondary" width="100%" height="100%">
              <use href="/assets/icons/FB.svg#Layer_1"></use>
            </svg>
          </div>
          <div class="footer__social--icon-container">
            <svg class="icon-secondary" width="100%" height="100%">
              <use href="/assets/icons/FB.svg#Layer_1"></use>
            </svg>
          </div>
          <div class="footer__social--icon-container">
            <svg class="icon-secondary" width="100%" height="100%">
              <use href="/assets/icons/FB.svg#Layer_1"></use>
            </svg>
          </div>
          <div class="footer__social--icon-container">
            <svg class="icon-secondary" width="100%" height="100%">
              <use href="/assets/icons/FB.svg#Layer_1"></use>
            </svg>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
