<div class="error">
  <div class="container">
      <h2 class="heading heading__tertiary heading__tertiary--uppercase error__heading-404-1">Error 404</h2>
      <div class="error__main">
        <div class="error__left">
          <h1 class="heading heading__primary error__heading-main">Oh Snap!</h1>
          <h2 class="heading heading__tertiary heading__tertiary--uppercase error__heading-404">Error 404</h2>
          <h3 class="heading heading__secondary heading__secondary--small error__heading-text">We can't find what you're looking for.</h3>
          <a class="btn btn-text error__heading-return" routerLink="/">RETURN TO PREVIOUS PAGE</a>
        </div>
        <div class="error__right"></div>
      </div>
  </div>
</div>
