// some base styling
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // by default, font-size is 16px, we want to set 1rem = 10px
  // because of simpler calculation and 62.5% is 10px --> 10/16
  font-size: 62.5%;
}

body {
  font-family: 'Calibri';
  font-weight: 400;
  line-height: 1.7;
  color: $color-secondary;
  box-sizing: border-box;
}
