.headline {
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: $color-secondary;
  font-weight: 700;
}

.sub-headline {
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: $color-secondary;
  font-weight: 400;
}

p {
  font-size: 1.8rem;
  font-weight: 400;
}
