<!-- TODO change icons in mobile menu when I get right icons -->
<div class="navigation">
  <div class="container">
    <nav class="navigation__nav">
      <!-- this is icon for toggling side menu -->
      <!-- <div class="navigation__button" (click)="toggleMenu()">
        <span class="navigation__icon">&nbsp;</span>
      </div> -->
      <div class="navigation__logo-box">
        <svg>
          <use href="/assets/images/logo/Horizontal_Transparent_Logo_BOLD_Gold-01.svg#Layer_1"></use>
        </svg>
      </div>
      <div class="navigation__search-bar--big">
        <senscare-search-bar [icon]="'search'"></senscare-search-bar>
      </div>
      <div class="navigation__search-bar--small">
        <senscare-search-bar-mobile></senscare-search-bar-mobile>
      </div>
      <ul class="navigation__list">
        <li class="navigation__item"><a class="navigation__link" routerLink="/deals" routerLinkActive="active-main-nav">{{ "navigation.deals" | translate }}</a></li>
        <li class="navigation__item"><a class="navigation__link" routerLink="/business-directory" routerLinkActive="active-main-nav">{{ "navigation.business_directory" | translate }}</a>
        </li>
        <li class="navigation__item" id="myAccount"><a class="navigation__link" routerLinkActive="active-main-nav">{{ "navigation.my_account" | translate
            }}</a></li>
        <li class="navigation__item"><a class="navigation__link">{{ "navigation.sign_out" | translate }}</a></li>
        <li class="navigation__item"><a class="navigation__link">{{ "navigation.example" | translate }}</a></li>
        <li class="navigation__item">
          <a class="navigation__link"  routerLink="/notifications" routerLinkActive="active-main-nav">
            <span class="notification__number notification__number--main">3</span>
            <svg class="icon-sized icon-white">
              <use xlink:href="/assets/icons/Notification bell.svg#Layer_1"></use>
            </svg>
          </a>
        </li>

        <nav class="navigation__nav__sub">
          <ul class="navigation__list u-margin-bottom-small">
            <div class="row flex-basis">
              <div class="col">
                <li class="navigation__item"><a class="navigation__link" routerLink="/profile/overview" routerLinkActive="active-main-nav">{{ "sub_nav.view_profile" | translate }}</a></li>
                <li class="navigation__item"><a class="navigation__link">{{ "sub_nav.edit_profile" | translate }}</a></li>
              </div>
              <div class="col">
                <li class="navigation__item"><a class="navigation__link" routerLink="/recently-viewed/businesses" routerLinkActive="active-main-nav">{{ "sub_nav.recently_viewed" | translate }}</a>
                </li>
                <li class="navigation__item"><a class="navigation__link" routerLink="/history/reviews" routerLinkActive="active-main-nav">{{ "sub_nav.history" | translate }}</a></li>
              </div>
              <div class="col">
                <li class="navigation__item"><a class="navigation__link" routerLink="/favorites/businesses" routerLinkActive="active-main-nav">{{ "sub_nav.favorites" | translate }}</a></li>
                <li class="navigation__item"><a class="navigation__link" routerLink="/" routerLinkActive="active-main-nav">{{ "sub_nav.dashboard" | translate }}</a></li>
              </div>
              <div class="col">
                <li class="navigation__item"><a class="navigation__link" routerLink="/settings" routerLinkActive="active-main-nav">{{ "sub_nav.settings" | translate }}</a></li>
                <li class="navigation__item"><a class="navigation__link">{{ "sub_nav.sign_out" | translate }}</a></li>
              </div>
              <div class="col">
                <li class="navigation__item"><a class="navigation__link" routerLink="/insights/profile" routerLinkActive="active-main-nav">{{ "sub_nav.insights" | translate }}</a></li>
              </div>
            </div>
          </ul>
        </nav>
      </ul>
      <ul class="navigation__mobile__list">
        <li class="navigation__item navigation__item__mobile"><a class="navigation__link__mobile" routerLink="/deals" routerLinkActive="mobile-menu-active">
          <div class="navigation__item--mobile-icon">
            <svg class="icon-secondary" width="100%" height="100%">
              <!-- <use href="/assets/icons/Business.svg#Layer_1"></use> -->
              <use href="/assets/icons-new/deals.svg#Dribbble-Light-Preview"></use>
            </svg>
          </div>
            {{ "navigation.deals" | translate }}
          </a></li>
        <li class="navigation__item navigation__item__mobile"><a class="navigation__link__mobile" routerLink="/business-directory" routerLinkActive="mobile-menu-active">
            <div class="navigation__item--mobile-icon">
              <svg class="icon-secondary" width="100%" height="100%">
                <use href="/assets/icons/Business.svg#Layer_1"></use>
              </svg>
            </div>
            {{ "navigation.business_directory" | translate }}
          </a></li>
        <li class="navigation__item navigation__item__mobile"><a class="navigation__link__mobile">
            <span class="notification__number notification__number--mobile">3</span>
            <div class="navigation__item--mobile-icon">
              <svg class="icon-secondary" width="100%" height="100%">
                <use href="/assets/icons/Business.svg#Layer_1"></use>
              </svg>
            </div>
            {{ "navigation.sign_out" | translate }}
          </a></li>
        <li class="navigation__item navigation__item__mobile"><a class="navigation__link__mobile" routerLink="/my-account" routerLinkActive="mobile-menu-active">
          <div class="navigation__item--mobile-icon">
            <svg class="icon-secondary" width="100%" height="100%">
              <use href="/assets/icons/Business.svg#Layer_1"></use>
            </svg>
          </div>
            {{ "navigation.my_account" | translate }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- *maybe we will need this -->
  <div class="navigation__backdrop"></div>
  <!-- * -->
</div>
<div class="navigation__search" *ngIf="false">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="navigation__search-bar">
          <senscare-search-bar [icon]="'search'"></senscare-search-bar>
        </div>
      </div>
      <div class="col-4">
        <div class="navigation__search-places">
          <senscare-search-bar [icon]="'map'"></senscare-search-bar>
        </div>
      </div>
    </div>
  </div>
</div>
