<div class="search-bar-sm">
  <svg class="icon-sized icon-white icon-class" (click)="toggleBottomPart()">
    <use [attr.xlink:href]="iconName"></use>
  </svg>
  <div class="search-bar-sm__bottom" id="bottom">
    <div class="search-bar-sm__input">
      <senscare-search-bar [icon]="'search'" [position]="'left'" [placeholder]="'Search'"></senscare-search-bar>
    </div>
    <div class="search-bar-sm__input">
      <senscare-search-bar [icon]="'map'" [position]="'left'" [placeholder]="'Location'"></senscare-search-bar>
    </div>
    <div class="btn__group btn__group-right">
      <div class="btn__group--box">
        <button class="btn btn-primary">SEARCH</button>
      </div>
    </div>
  </div>
</div>
