.example {
  background-color: $color-white-light;
  width: 100%;

  // part for hero
  &__hero {
    padding: 6rem 0;
    background-image: url(/assets/images/example-page/Maze_solo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;

    @include respond(sm) {
      background-position: bottom;
      padding-bottom: 16rem;
      padding-top: 3rem;
    }

    &--text-box {
      width: 52%;

      @include respond(sm) {
        width: 100%;
      }

      .paragraph-box {

        p {
          font-size: 2rem;
          font-weight: 100;
        }
      }
    }
  }

  // part for how it works
  &__how-it-works {

    &--text-box {
      margin: 5rem 0;

      @include respond(sm) {
        margin-top: 0;
      }
    }

    &__offers {

      &--list {
        display: flex;
        justify-content: space-between;
        margin: 6rem 0;

        @include respond(sm) {
          flex-direction: column;
        }
      }

      &--item {
        text-align: center;
        flex: 0 1 20%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .image-box {
          width: 18rem;
          height: 18rem;

          .image {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  // part for email input
  &__mailing__list {
    width: 50%;
    margin: 0 auto;
    padding: 3rem 0;

    @include respond(sm) {
      width: 95%;
    }

    &--form {
      display: flex;
    }
  }

  &__button-group {
    display: inline-block;
    margin: 10rem 0;

    @include respond(sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
    }
  }

  // last part of page
  &__business {
    background-color: $color-white;
    padding: 5rem 5rem;
    min-height: 60rem;

    &--text {

    }

    &--figure {
      width: 50rem;
      height: 50rem;
      float: left;
      // background-color: $color-primary;
      -webkit-shape-outside: circle(50%);
      shape-outside: circle(50%);
      -webkit-clip-path: circle(50%);
      clip-path: circle(50%);

      position: relative;
      margin-right: 15rem;

      @include respond(md) {
       float: none;
      }

      @include respond(sm) {
        width: 30rem;
        height: 30rem;
      }
    }

    &--image {
      height: 100%;
      background-size: cover;
      background-position: center;
    }
  }
}

.paragraph-box {
  width: 70%;

  @include respond(sm) {
    width: 100%;
  }
}

.paragraph {
  @include respond(sm) {
    font-size: 2.5rem;
    text-align: left;
  }
}
